<!doctype html>
<html>
<head>
    <title>meadowlark travel</title>
    {{{_sections.head}}}
</head>
<body>
    <header><img src="/img/logo.png" alt="meadowlark travel logo"></header>
    {{{body}}}
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    {{{_sections.jquery}}}
</body>
</html>